<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{{TITRE}}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-edit.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}">
    <link rel="stylesheet" href="{% static "css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "css/toastr.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/menu.css" %}">
    <link rel="stylesheet" href="{% static "css/meta.css" %}">
    {% block moreCSS %}{% endblock %}
  </head>
  <body>

    <div id="menu" class="d-none d-lg-block flex-row">
      <ul class="flex-row">
        <a href="/"><li class="title-li"><h1>{{TITRE}}</h1></li></a>
        <a href="/films/recherche"><li>Films</li></a>
        <a href="/films/contact"><li>Contact</li></a>
        {% if user.is_authenticated %}
          <li class="to-right" id="menu_account">Mon compte ({{user.get_username}})</li>
          <ul id="submenu_account">
            <a href="/auth/edit"><li>Mes informations</li></a>
            {% if user.is_superuser %}
              <a href="/superuserofdeath"><li>Administration</li></a>
            {% endif %}
            <a href="/auth/logout"><li>Se déconnecter</li></a>
          </ul>
        {% else %}
          <a href="/auth/create" class="to-right dropdown-item connect-width"><li>Créer un compte / Se connecter</li></a>
        {% endif %}
      </ul>
    </div>

    <div id="menu-mobile" class="d-lg-none">
      <h1>{{TITRE}}</h1>
      <i class="fas fa-bars to-right toggle_menu"></i>
    </div>
    <div id="div-menu-mobile">
      <div id="submenu-mobile">
        <h1>{{TITRE}}</h1>
        <i class="fas fa-times to-right toggle_menu"></i>
      </div>
      <div id="main_mobile_menu">
        <ul class="flex-column" id="mobile_first_level">
          <a href="/" class="dropdown-item"><li>Accueil</li></a>
            <a href="/films/recherche" class="dropdown-item"><li>Films</li></a>
            <a href="/films/contact" class="dropdown-item"><li>Contact</li></a>
          {% if user.is_authenticated %}
            <li id="mobile_account" class="dropdown-item">Mon compte ({{user.get_username}})</li>
          {% else %}
            <a href="/auth/create" class="dropdown-item"><li>Créer un compte</li></a>
          {% endif %}
        </ul>
        <ul id="menu_mobile_account">
          {% if user.is_authenticated %}
          <li class="bouton_retour_mobile_direct dropdown-item">Retour</li>
          <a href="/auth/edit"><li class="dropdown-item">Mes informations</li></a>
          {% if user.is_superuser %}
            <a href="/superuserofdeath"><li class="dropdown-item">Administration</li></a>
          {% endif %}
          <a href="/auth/logout"><li class="dropdown-item">Se déconnecter</li></a>
          {% endif %}
        </ul>
      </div>
    </div>

    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
      <span>Jérémy EMO - 2019 - Version {{VERSION_NUMBER}}</span>
    </footer>

    <script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/toastr.js" %}"></script>
    <script type="text/javascript" src="{% static "js/popper.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/menu.js" %}"></script>
    {% block moreJS %}{% endblock %}
  </body>
</html>
