{% extends "global/html.html" %}
{% load static %}
{% load morefilters %}

{% block content %}
  <div class="row">

      <div class="bloc">
        <div class="col" style="padding:0">
          <div class="card togglable">
            <div class="card-header">
              <div class="header-icon"><i class="fas fa-envelope"></i></div><h2>Contact</h2><i class="fas fa-angle-up"></i>
            </div>
            <div class="card-body">

                <p>Contacter l'administrateur du site :</p>
                <form action="/films/contact/" method="post">
                  {% csrf_token %}
                  <textarea id="text" name="contact" rows="8" cols="80"></textarea>
                  <input type="submit" value="Envoyer" class="btn btn-info">
                </form>

            </div>
          </div>
        </div>
      </div>

  </div>
{% endblock %}

{% block moreCSS %}
  <link rel="stylesheet" href="{% static "css/home.css" %}">
  <link rel="stylesheet" href="{% static "css/contact.css" %}">
{% endblock %}
